<div class="c-bg-img-with-overlay">
    <img class="bg-img" src="{{ .background_image.image_path }}" alt="{{ .background_image.image_alt}}">
    <img class="logo-img" src="{{ .logo_image.image_path }}" alt="{{ .logo_image.image_alt}}">
</div>
